.colorbody{
    background-color: rgb(248, 237, 174);
 }
footer{
    background-color: rgb(241, 212, 79);
    text-align: center;
    margin: 1%;
}
 
.colornav{
     background-color: rgb(241, 212, 79);
     color: darkgoldenrod;
     list-style: none;
}

.formulario{
    margin: 10%;
    background-color: rgb(241, 212, 79);
    text-align: center;
    width: 500px;
}
.radio{
    background-color: rgb(235, 233, 137);
}
